<div class="w-100 h-100 d-flex flex-column justify-content-start align-items-center">
  <img src="assets/icon_effortrix.png" alt="Effortrix Logo" class="logo mx-auto d-block mt-5 mb-3  w-25">
  <mat-card class="register-card px-4 mt-5">
    <mat-card-title class="pt-3 pb-2 px-3">Register</mat-card-title>
    <mat-card-content class="my-2 mx-0">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <!-- Username -->
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" required>
          @if (registerForm.get('username')?.errors?.['required']) {
            <mat-error>Username is required</mat-error>
          }
        </mat-form-field>

        <!-- Email -->
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required>
          @if (registerForm.get('email')?.errors?.['required']) {
            <mat-error>Email is required</mat-error>
          }
           @if (registerForm.get('email')?.errors?.['invalidEmail']) {
            <mat-error>{{ formErrors['invalidEmail'] }}</mat-error>
          }
        </mat-form-field>

        <!-- Password -->
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" required>
          @if (registerForm.get('password')?.errors?.['required']) {
            <mat-error>Password is required</mat-error>
          }
          @if (registerForm.get('password')?.errors?.['invalidPassword']) {
            <mat-error>{{ formErrors['invalidPassword'] }}</mat-error>
          }
        </mat-form-field>

        <!-- Confirm Password -->
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Confirm Password</mat-label>
          <input matInput formControlName="confirmPassword" type="password" required>
          @if (registerForm.get('confirmPassword')?.errors?.['required']) {
            <mat-error>Confirm password is required</mat-error>
          }
        </mat-form-field>

        <!-- Password Mismatch -->
        @if (registerForm.errors?.['passwordMismatch']) {
          <div class="form-error">{{ formErrors['passwordMismatch'] }}</div>
        }

        @if(registrationFailed) {
          <div class="form-error">{{ registrationFailedMessage }}</div>
        }

        <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">
          Register
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
