<mat-toolbar>
  <button mat-icon-button class="w-auto" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="w-100 text-end" >Time Tracker <span class="tt-small-text cursive-font">by Thomas</span></span>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="console.log('Menu item clicked_: Profile')">
    <mat-icon>person</mat-icon>
    <span>Profile</span>
  </button>
  <button mat-menu-item (click)="console.log('Menu item clicked_: Tickets')">
    <mat-icon class="material-symbols-outlined">
      local_activity
    </mat-icon>
    <span>Tickets</span>
  </button>
  <button mat-menu-item class="w-auto" aria-label="Example icon-button with heart icon">
    <mat-icon>picture_as_pdf</mat-icon>
    <span>Als PDF exportieren</span>
  </button>
  <button mat-menu-item (click)="console.log('Menu item clicked_: Settings')">
    <mat-icon>settings</mat-icon>
    <span>Settings</span>
  </button>
  <button mat-menu-item (click)="console.log('Menu item clicked_: Loggout')">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
