<mat-toolbar class="justify-content-between">
  <button mat-icon-button class="w-auto" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <img src="assets/icon_effortrix.png" alt="Effortrix Logo" class="mini__logo d-block mt-2 mb-2">
</mat-toolbar>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="goToProfile()">
    <mat-icon>person</mat-icon>
    <span>Profile</span>
  </button>
  <button mat-menu-item (click)="goToProjects()">
    <mat-icon class="material-symbols-outlined">
      local_activity
    </mat-icon>
    <span>Projects</span>
  </button>
  <button mat-menu-item class="w-auto" aria-label="Example icon-button with heart icon" (click)="exportToPdf()">
    <mat-icon>picture_as_pdf</mat-icon>
    <span>Als PDF exportieren</span>
  </button>
  <button mat-menu-item (click)="goToSettings()">
    <mat-icon>settings</mat-icon>
    <span>Settings</span>
  </button>
  <button mat-menu-item (click)="goToLogin()">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
