<div class="profile-detail">
  <h1>User Profile</h1>
  <img [src]="profilePicUrl" alt="Profile Picture" class="profile-pic" />
  @if (!showErrorMessage() && isEditModeActive()) {
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="form-group">
        <mat-label>Username</mat-label>
        <input matInput id="userName" type="text" formControlName="userName" />
        @if(userForm.get('userName')?.invalid && userForm.get('userName')?.touched) {
          <mat-error >
            Username is required.
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-group">
        <mat-label>Email</mat-label>
        <input matInput id="email" type="email" formControlName="email" />
        @if(userForm.get('email')?.invalid && userForm.get('email')?.touched) {
          <mat-error>
            Enter a valid email address.
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-group">
        <mat-label>Role</mat-label>
        <mat-select id="role" formControlName="role" [disabled]="true">
          <mat-option value="" disabled>Select a role</mat-option>
          <mat-option *ngFor="let role of roles" [value]="role">{{ role }}</mat-option>
        </mat-select>
        @if (userForm.get('role')?.invalid && userForm.get('role')?.touched) {
          <mat-error>
            Role is required.
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-group">
        <mat-label>Profile Picture</mat-label>
        <input matInput id="profilePic" type="text" formControlName="profilePic" />
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid">Save</button>
    </form>
  } @else if (!showErrorMessage() && !isEditModeActive()) {
    <div class="user-details">
      <p><strong>Username:</strong> {{ userForm.get('userName')?.value }}</p>
      <p><strong>Email:</strong> {{ userForm.get('email')?.value }}</p>
      <p><strong>Role:</strong> {{ userForm.get('role')?.value }}</p>
      <button mat-raised-button color="primary" (click)="toggleEditMode()">Edit</button>
    </div>
  } @else {
    <div class="error-message">
      <p>Failed to load user details. Please try again later.</p>
    </div>
  }
</div>
